@import '../../variables.scss';

.match-input-container {
    .match-point {
        position: relative;
        height: 30px;
        width: 30px;
        padding: 10px;
        margin: 0 10px 0 10px;
        border: 4px solid #CCC;
        box-sizing: border-box;
        background-color: none;
        border-radius: 50%;
        transition: 0.2s;
        cursor: pointer;
        &.active {
            z-index: 9;
            border-color: #999999;
            .dot {
                pointer-events: none;
                background-color: #999999;
            }
        }
        .dot {
            position: absolute;
            height: 16px;
            width: 16px;
            min-width: 16px;
            top: 3px;
            left: 3px;
            background-color: #CCC;
            border-radius: 20px;
            transform-origin: 8px 8px;
            overflow: hidden;
            &.active {
                z-index: 9;
                &::after {
                    content:'';
                }
            }
            &::after {
                top:0;
                transform:translateX(100%);
                width:300px;
                height:300px;
                position: absolute;
                z-index:1;
                animation: slide 1s infinite;
                background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
                background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
            }
        }
        &.disabled {
            pointer-events: none !important;
            z-index: 0;
        }
    } 
    // replace this with sass variables export to be more flexible
    &.turquoise {
        .match-point {
            border-color: $turquoise;
            .dot {
                background-color: $turquoise;
            }
        }
    }
    &.pink {
        .match-point {
            border-color: $pink;
            .dot {
                background-color: $pink;
            }
        }
    }
    &.yellow {
        .match-point {
            border-color: $yellow;
            .dot {
                background-color: $yellow;
            }
        }
    }
    &.blue {
        .match-point {
            border-color: $blue;
            .dot {
                background-color: $blue;
            }
        }
    }
    &.brown {
        .match-point {
            border-color: $brown;
            .dot {
                background-color: $brown;
            }
        }
    }
    &.space_cadet {
        .match-point {
            border-color: $space_cadet;
            .dot {
                background-color: $space_cadet;
            }
        }
    }
    &.sky_blue {
        .match-point {
            border-color: $sky_blue;
            .dot {
                background-color: $sky_blue;
            }
        }
    }
    &.ksu_purple {
        .match-point {
            border-color: $ksu_purple;
            .dot {
                background-color: $ksu_purple;
            }
        }
    }
    &.red {
        .match-point {
            border-color: $red;
            .dot {
                background-color: $red;
            }
        }
    }
    &.green {
        .match-point {
            border-color: $green;
            .dot {
                background-color: $green;
            }
        }
    }
}