@import '../../variables.scss';

.question-container {
    position: relative;
    border: 3px solid $charcoal;
    border-radius: 20px;
    transition: 0.2s;
    &:not(:last-child) {
        margin-bottom: 50px;
    }
    form {
        width: 100%;
    }
    header {
        font-size: 13px;
        font-weight: $SemiBold;
        position: relative;
        display: flex;
        > div {
            display: flex;
            > span {
                line-height: 25px;
                margin-right: 5px;
            }
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
        .question-points {
            width: 50px;
            border: none;
            box-shadow: 0 1px 2px #00000030 !important;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -3px;
        display: block;
        background-color: $white;
        height: calc(100% + 10px);
        width: calc(100% - 20px);
    }
    .number {
        position: absolute;
        left: -23px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        color: $turquoise;
        font-weight: $SemiBold;
        font-size: 19px;
        border-radius: 50%;
        background-color: $charcoal;
        border: 3px solid $white;
        > span {
            font-size: 13px;
        }
    }
    .question-content {
        position: relative;
        padding: 20px 0 20px 40px;
        &.hold {
            padding: 0 40px;
            .question-types {
                padding: 0;
            }
        }
        header {
            position: absolute;
            top: -15px;
        }
        footer {
            text-align: left;
            left: 40px;
            bottom: -13px;
            display: flex;
            .errors {
                > span {
                    font-size: 13px;
                    padding: 5px 9px;
                    box-sizing: border-box;
                    background-color: $danger;
                    color: $white;
                    border-radius: 10px;
                    box-shadow: $shadow-default;
                    &:not(:first-child) {
                        margin-left: 5px;
                    }
                }

            }
        }
    }
    .question-types {
        padding: 10px;
        .input-wrapper {
            margin-bottom: 0;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
    
    ::-webkit-scrollbar-track
    {
        background-color: $primary;
    }
    
    ::-webkit-scrollbar
    {
        width: 5px;
        background-color: $charcoal;
    }
    
    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: rgb(218, 218, 218);
    }

    &.error {
        border-color: $danger;
        .number {
            background-color: $danger;
            color: $white
        }
    }
}

.choice-container {
    cursor: pointer;
    position: relative;
    display: flex;
    margin-bottom: 7px;
    .letter {
        position: relative;
        background: none;
        border: 4px solid transparent;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        color: #B2B2B2;
        font-weight: bold;
        font-size: 25px;
        box-sizing: border-box;
        transition: 0.2s;
        outline: lightcoral;
        > span, img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:not(.add):not(.active) {
            &:hover {
                border-color: #B2B2B2;
            }
        }
        &.add {
            cursor: default;
        }
        &.active {
            border-color: $primary-dark;
            color: $primary-dark;
        }
        &.blink {

        }
    }
    > img {
        position: absolute;
        top: 50%;
        left: -15px;
        opacity: 1;
        animation: none;
        transform: translateY(-50%);
    }
}

.options-wrapper {
    position: relative;
    &::before {
        position: absolute;
        display: block;
        width: 45px;
        height: 110%;
        top: 50%;
        left: -6px;
        transform: translateY(-50%);
        box-sizing: border-box;
        border: 4px solid $success;
        border-radius: 50%;
        animation: blink 1s infinite;
        pointer-events: none;
    }
    &.has-error {
        &::before {
            content: '';
        }
    }
}

.true-false-container {
    display: flex;
    align-items: center;
    padding: 15px 0 0px 20px;
    font-size: 20px;
    > div {
        position: relative;
        display: flex;
        align-items: center;
        &::before {
            position: absolute;
            display: block;
            width: 100%;
            height: 110%;
            top: 50%;
            left: -6px;
            transform: translateY(-50%);
            box-sizing: border-box;
            border: 4px solid $success;
            border-radius: 50%;
            animation: blink 1s infinite;
            pointer-events: none;
        }
        &.has-error {
            &::before {
                content: '';
            }
        }
    }
    button {
        margin: 0 5px;
        display: flex;
        align-items: center;
        border: 4px solid transparent;
        border-radius: 25px;
        padding: 5px;
        background-color: transparent;
        box-sizing: border-box;
        transition: 0.1s;
        color: $charcoal;
        > img {
            margin-right: 3px;
        }
        &:hover {
            border-color: $charcoal;
        }
        &.active {
            border-color: $primary-darker;
        }
    }
}